<%- include("partials/header"); -%>

<div class="centered">
  <div class="container">
    <h1 class="display-3">404</h1>
    <p class="lead">Sorry! Page You Requested Was Not Found</p>
  </div>
</div>

<%- include("partials/footer"); -%>
